<div class="container mt-4 p-3 mb-2 bg-light text-dark ">
    <div class="row center">
      <h1>Stupid Coaching</h1>
      <div class="mx-auto">
          <p>Ask someting to your coach</p>

        <form action="/answer" data-turbo="false" method="get">
          <input type="text" name="answer">
          <input type="submit" value="Ask!">
        </form>
      </div>
    </div>
</div>
